.main {
  &__content {
    width: 1200px;
    min-height: 400px;
    padding: 20px;
    border: 1px solid black;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 4%), 0px 2px 6px rgb(0 0 0 / 4%),
      0px 0px 1px rgb(0 0 0 / 4%);

    background-color: pink;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    column-gap: 20px;
    row-gap: 40px;
  }

  &__item {
    position: relative;
    text-align: center;
    min-width: 310px;
    padding-bottom: 10px;
    transition: 250ms linear;
    cursor: pointer;
    color: black;
    background-color: papayawhip;

    &:hover,
    &:focus {
      transform: scale(1.01);
      box-shadow: 0px 10px 20px rgb(0 0 0 / 4%), 0px 2px 6px rgb(0 0 0 / 4%),
        0px 0px 1px rgb(0 0 0 / 4%);

      background-color: rgba(255, 239, 213, 0.5);
    }
  }

  &__user {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__content-user {
    padding: 10px;
  }

  &__btn {
    font-size: 26px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    transition: 250ms linear;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 4%), 0px 2px 6px rgb(0 0 0 / 4%),
      0px 0px 1px rgb(0 0 0 / 4%);

    color: black;
    background-color: pink;

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.197);
    }
  }

  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
